<div class="input-root">
  <!-- Tabs -->
  <div class="tabs">
    <button type="button" [class.active]="currentPage === 'addEnemy'" (click)="currentPage = 'addEnemy'">Add Enemy</button>
    <button type="button" [class.active]="currentPage === 'addItem'" (click)="currentPage = 'addItem'">Add Item</button>
  </div>

  <!-- Add Enemy Page -->
  @if (currentPage === 'addEnemy') {
  <div class="page add-enemy">
    <app-enemy-card [enemy]="sampleEnemy" />
    <app-item-card [item]="sampleItem" />
  </div>
  }

  <!-- Add Item Page -->
  @if (currentPage === 'addItem') {
  <div class="page add-item">
    <label>
      Name
      <input type="text" placeholder="Item name" />
    </label>

    <label>
      Sell price
      <input type="number"/>
    </label>

    <div class="actions">
      <button type="button">Confirm Item</button>
    </div>
  </div>
  }
</div>
