<div class="input-root">
  <div class="tabs">
    <button type="button" [class.active]="currentPage === 'addEnemy'" (click)="currentPage = 'addEnemy'">Add Enemy</button>
    <button type="button" [class.active]="currentPage === 'addItem'" (click)="currentPage = 'addItem'">Add Item</button>
  </div>

  <div class="page add-enemy">
    <div class="card-group">
      @for (enemy of knownEnemies; track enemy.id) {
        <app-enemy-card [enemy]="enemy" />
      }
    </div>

    <div class="card-group">
      @for (item of knownItems; track item.id) {
        <app-item-card [item]="item" />
      }
    </div>

    <div class="card-group">
      @for (kill of killedEnemies; track kill) {
        <h2>{{ kill.enemy.name }}</h2>
        @for (item of kill.dropped_items; track item) {
          @for (_ of repeat(item.amount); track $index) {
            <app-item-card [item]="item.item" />
          }
        }
        <label>dropped money: {{ kill.dropped_money }}</label>
      }
    </div>
  </div>
</div>